<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<div class="row">
	<div class="container site-container">
		<div class="user-sidebar col-md-2 col-sm-12">
			<div class="user-container">
				<ul class="user-list">
					<li>
						<div class="user-info-img">
							<div class="img-circle">
								<img src="https://d1w2poirtb3as9.cloudfront.net/default.jpeg">
							</div>
						</div>

						<div class="user-info-text">
							<div><span>{{name}}</span></div>
							<div><span class="icon-verified"></span><span class="user-sidebar-text">Verify E-mail</span></div>
							<div><span class="icon-unverified"></span>
								<a href=""><span>Verify Mobile</span></a>
							</div>
						</div>
					</li>
					<li>
						<a href="/dashboard"><span class="user-sidebar-text">Dashboard</span></a>
					</li>
					<li>
						<a href="/cart"><span class="user-sidebar-text">Your Orders</span></a>
					</li>
					<li>
						<a href="/listing"><span class="user-sidebar-text">Your Listing</span></a>
					</li>
					<li>
						<a href="/profile"><span class="user-sidebar-text">Profile</span></a>
					</li>
					<li>
						<a href="/logout"><span class="user-sidebar-text">Log Out</span></a>
					</li>
				</ul>
			</div>
		</div>

		<div class="dashboard col-md-10">
				<div class="panel panel-default margin-3 margin-4">
				  <div class="panel-body">
				    <span>Invite friends to get $20 coupon.</span>
				    <span class="btn btn-danger pull-right">Invite Friends!</span>
				    
				  </div>
				</div>

				<div class="panel panel-default margin-4">
				  <div class="panel-body">
				    <span>Wanna be a part of us?</span>
				    <span class="btn btn-danger pull-right">Share Your Cuisine!</span>
				    
				  </div>
				</div>


				<div class="panel panel-default margin-4">
				  <div class="panel-heading">Notifications</div>
				  	<ul class="list-group">
					    <li class="list-group-item">
					    	<a href="">Invinte friends to get $20 gift card </a>
					    </li>
					    <li class="list-group-item">
					    	<a href="">Some other notifications </a>
					    </li>
					  	<li class="list-group-item">
					    	<a href="">Some other notifications </a>
					    </li>
					</ul>
				</div>



				<div class="panel panel-default margin-4">
				  <div class="panel-heading">Message</div>
				  	<ul class="list-group">
					    <li class="list-group-item">
					    	<a href="">Invinte friends to get $20 gift card </a>
					    </li>
					    <li class="list-group-item">
					    	<a href="">Some other notifications </a>
					    </li>
					  	<li class="list-group-item">
					    	<a href="">Some other notifications </a>
					    </li>
					</ul>
				</div>
		
		</div>
	</div>
</div>
<style type="text/css">


.site-container {
	padding: 0px;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
}

.user-sidebar {
	min-height: 920px;
	
	float: left;
	/*background-color: rgba(237,134,49,1); */
	background-color: #FFFFFF;
	padding: 0px;
	border-right: 1px solid #c2c2c2;
}

.user-container{
	width: 100%;
	margin: 30px auto;
}

.user-list{
	list-style: none;
	padding-left: 0;
}
.img-circle{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid #c2c2c2;
}

.user-info-img {
	width: 85%;
	margin: auto;
	margin-bottom: 14px;
}

.user-list > li {
	border-bottom: 1px solid #efefef;
	padding: 10px;
}

.user-info-text {
	text-align: center;
	
	margin-bottom: 14px;
}

.img-circle img{
	display: block;
	width: 100%;
	max-width: 100%;
}

.margin-4 {
	margin-bottom: 25px;
}

.margin-3 {
	margin-top: 30px;
}

</style>