
<div class="container" class="hidden-sm">
	<div class="footer-links">
		<div class="row">
			<div class="col-sm-6">
				
					<a href><span>About Us</span></a>
					<a href><span>Contact</span></a>
					<a href><span>Term &amp; Policy</span></a>
			
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
					<a href><span>Why cook</span></a>
					<a href="#">Facebook</a>
					<a href="#">Google Plus</a>
			</div>
		</div>
		</div>
<!-- 		<div class="row">
			<div class="col-sm-12" id="copyright">
				<h6>Copyright &copy; 2015</h6>
			</div>
		</div> -->
	</div>
</div><!-- end container -->

