<div class="modal-body">
    <div ng-show="loginCtrl.error" class="alert alert-danger">
        {{loginCtrl.error}}
    </div>
    <form name="LoginForm" role="form" ng-submit="loginCtrl.login()" class="ng-pristine ng-invalid ng-invalid-required" id="LoginForm">
      <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="form-control" ng-model="loginCtrl.username" required />
        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
      </div> 

      <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" ng-model="loginCtrl.password" required />
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
      </div>
      <div class="user-agreement"></div><button type="submit">Log in</button>
    </form>
</div>
<hr class="login-modal-divider" />
<div class="modal-center">
    <div class="text-muted">
        Don't have an account&#65311;<a href="" ng-click="loginCtrl.switchToSignup()">Sign up now!</a>
    </div>
</div>