a {	
	outline: none !important;
	&:link {
		color: $light-grey;
		text-decoration: none;
	}
	&:visited {
		color: $light-grey;
		text-decoration: none;
	}
	&:hover {
		color: $light-grey;
		text-decoration: none;
	}
	&:active {
		color: $light-grey;
		text-decoration: none;
	}
}

//*****bootstrap reset***********//
.nav {
	li{
		a{
			&:focus, &:hover {
				background-color: transparent;
			}
		}
	}
}

label {
	margin-bottom: 0;
}