$top-img: '../images/banner.jpg';
$table-color: #DCE0DF;
$off-wht: rgba(white,.4);

//-----Colors------//
$lighter-grey: #fbfbfb;
$light-grey: #EEE;
$white: #fff;
$purple: #9A68C7;
$blue: #3BA9E4;
$green: #75B343;
$orange: rgb(237, 113, 67);

$footer-background: #3c3c3c;